﻿@model ToDoListWebApp.Models.TaskViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="center text-center">
    @ViewData["Title"]
</h1>

<h4 class="center text-center">Task</h4>
<hr />
<div class="row center">
    <div class="col-md-4 center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Assignment.Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="AssignmentId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Assignment.CreatedBy" class="control-label"></label>
                <input asp-for="Assignment.CreatedBy" class="form-control" />
                <span asp-validation-for="Assignment.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Assignment.AssignedTo" class="control-label"></label>
                <input asp-for="Assignment.AssignedTo" class="form-control" />
                <span asp-validation-for="Assignment.AssignedTo" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Done" class="control-label"></label>
                <input asp-for="Done" type="checkbox"/>
                <span asp-validation-for="Done" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2 mb-2" />
            </div>
        </form>
    </div>
</div>

<div class="center text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
