html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}